*,
*::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  /* forcing that inheritance  */
}

/* makes calculating rem easier */
/* 10 divide by 16 to get 62.5% to get 10px*/
html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
}